- name: Configure database servers
  hosts: all
  become: true



  tasks:
    - name: Install PostgreSQL
      dnf:
        name: postgresql
        state: present

    - name: start postgreSql service
      systemd:
        name: postgresql
        state: started
        enabled: yes

    - name: Create databse user
      postgresql_user:
        name: "{{ db_user }}"
        password: "{{ db_password }}"
        state: present
